# Introduction to Time Series Data

Data can come in many different formats, and many differentshapes and sizes. You've maybe heard of tabular data, a format you may be familiar with from working in something like Excel. 

We will explore two main kinds of tabular data in this module. The first is time series data. Time series data will be *indexed* with a date and time. We'll look a bit more closely at that soon, but for now just think of it as each row having a date or time, rather than a row number.

## Loading Data

One of the most popular packages in Python for working with tabular data is called Pandas. Today we'll get acquainted with Pandas.

The first thing we'll do is `import` the `pandas` package. Convention has us use a shortform name - `pd` - because we'll be using the package so often.

In [10]:
import pandas as pd

And below we'll use pandas' `read_csv()` to load the data into a `DataFrame`. DataFrames are the main data structure in pandas for tabular data, and lots of other programming languages use the concept of a DataFrame too! By convention, you'll often see `df` used as a variable name.

In [11]:
# Load the data
df = pd.read_csv("data/NVDA_2024.csv")

Before we do anything else, it's a good idea to take a look at the DataFrame. Some methods will let us take a closer look at parts of our data.

In [12]:
# Print the first five rows
print(df.head())

# Print the last 15 rows
print(df.tail(15))

         Date      Close       High        Low       Open     Volume
0  2024-01-02  48.149918  49.276493  47.577135  49.225514  411254000
1  2024-01-03  47.551140  48.165907  47.302233  47.467172  320896000
2  2024-01-04  47.979984  48.481795  47.490167  47.749068  306535000
3  2024-01-05  49.078564  49.528395  48.287860  48.443804  415039000
4  2024-01-08  52.233379  52.255374  49.460423  49.493411  642510000
           Date       Close        High         Low        Open     Volume
236  2024-12-09  138.797226  139.937120  137.117388  138.957215  189308600
237  2024-12-10  135.057587  141.806966  133.777690  138.997212  210020900
238  2024-12-11  139.297180  140.157102  135.197567  137.347363  184905200
239  2024-12-12  137.327362  138.427267  135.787510  137.067391  159211400
240  2024-12-13  134.237656  139.587170  132.527806  138.927227  231514900
241  2024-12-16  131.987854  134.387627  130.407998  134.167646  237951100
242  2024-12-17  130.378006  131.577893  126.848332  129.078123  259410300
243  2024-12-18  128.898148  136.687424  128.268201  133.847689  277444500
244  2024-12-19  130.667969  134.017667  129.538083  131.747871  209719200
245  2024-12-20  134.687607  135.267555  128.208207  129.798057  306528600
246  2024-12-23  139.657150  139.777134  135.107566  136.267463  176053500
247  2024-12-24  140.207108  141.886946  138.637245  139.987127  105157000
248  2024-12-26  139.917130  140.837058  137.717335  139.687155  116205600
249  2024-12-27  136.997391  139.007216  134.697615  138.537258  170582600
250  2024-12-30  137.477356  140.257099  134.007674  134.817597  167734700

## Looking at data

Other methods and attributes can give us an overview, and give us further insights to our data in general. `shape()` will tell us the number of rows and columns in our data frame, while `info()` will give us some info on the data type (`dtype`) of each column.

You'll notice the types are slightly different from the usual Python types - this is because they belong to the `numpy` package, which sits under the hood of `pandas`. We'll look more at `numpy` tomorrow, but for now here is a word about each of the types in our data frame.

- `float64` - 64-bit floating point (number with a decimal point)
- `int64` - 64-bit integer (whole number)
- `object` - other Python data types (strings in this case)

In [13]:
# Print rows and columns
print("Rows and columns: ", df.shape)

# Print summary info
print("Info")
print(df.info())

Rows and columns:  (251, 6)
Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    251 non-null    object
 1   Close   251 non-null    float64
 2   High    251 non-null    float64
 3   Low     251 non-null    float64
 4   Open    251 non-null    float64
 5   Volume  251 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 11.9+ KB
None

For a look at some actual data within the data frame, we can use square bracket notation and `iloc` to access columns and rows. The `i` in `iloc` refers to **integer-based indexing**, so looking at a row or column *number*.

In [14]:
# Access a column
print(df["Close"])

# Access multiple columns
print(df[["Open", "Close"]])

# Access the first row
print(df.iloc[0])

# Access the tenth row and the third column - a specific cell
print(df.iloc[9, 2])

# However, it is preferable to use .iat for single values
print(df.iat[9, 2])

0       48.149918
1       47.551140
2       47.979984
3       49.078564
4       52.233379
          ...
246    139.657150
247    140.207108
248    139.917130
249    136.997391
250    137.477356
Name: Close, Length: 251, dtype: float64
           Open       Close
0     49.225514   48.149918
1     47.467172   47.551140
2     47.749068   47.979984
3     48.443804   49.078564
4     49.493411   52.233379
..          ...         ...
246  136.267463  139.657150
247  139.987127  140.207108
248  139.687155  139.917130
249  138.537258  136.997391
250  134.817597  137.477356

[251 rows x 2 columns]
Date      2024-01-02
Close      48.149918
High       49.276493
Low        47.577135
Open       49.225514
Volume     411254000
Name: 0, dtype: object
56.813665103138256
56.813665103138256

## Filtering Data

In Pandas, we can use a technique known as *boolean indexing* or *masking* to filter rows depending on some condition. We can express conditions using a *boolean expression* or *compound boolean expression* with either `&` (and) *or* `|` (or). These are also called *logical expressions*.

In [15]:
condition = df["Date"] == "2024-08-08" # boolean expression

# Filter for a row
print("Filter for one row:\n", df[condition])

# Filter for rows
df[(df["Date"] > "2024-08-08") & (df["Date"] < "2024-08-18")] # compound

Filter for one row:
            Date       Close        High        Low        Open     Volume
151  2024-08-08  104.944138  105.474006  97.495969  101.974868  391910000

           Date       Close        High         Low        Open     Volume
152  2024-08-09  104.724190  106.573732  103.404515  105.613970  290844200
153  2024-08-12  108.993141  111.042639  106.233827  106.293809  325559900
154  2024-08-13  116.111382  116.201363  111.552508  112.412296  312646700
155  2024-08-14  118.050911  118.570779  114.041897  118.500797  339246400
156  2024-08-15  122.829735  123.209638  117.441063  118.730746  318086700
157  2024-08-16  124.549301  124.969196  121.150137  121.909952  302589900

### Exercise: End of Year

Display the data for the entire month of December 2024.

In [16]:
## YOUR CODE GOES HERE

### Exercise: The First Fifty

Display the data for the first fifty (50) days of trading in the period.

In [17]:
## YOUR CODE GOES HERE

### Optional Exercise: Big Days

Display rows where trading volume exceeded 800 000 000.

In [18]:
## YOUR CODE GOES HERE

## Setting the Index

In a DataFrame, each row is assigned a unique index value. By default, this is just a number (starting at 0). When it makes sense, we can choose one of the other columns to be an index. For time series data, where each row represents a different point in time, we'll set our `Date` column as the index. This will make it easier for us to work with the data, and can speed up other operations later on.

In [19]:
# Convert the 'Date' column to a datetime object
df['Date'] = pd.to_datetime(df['Date'])

# Set the 'Date' column as the index
df.set_index('Date', inplace=True)

We convert the 'Date' column to a datetime object because pandas can recognise and efficiently work with datetime objects. We set the `Date` column as the index because in time-series data like ours, operations are time-based.

With the index set, we can now use it to access different portions of our data a little bit more easily. Because our indices are labeled, we can use `loc` for **label-based indexing**.

In [20]:
# Access a row
print(df.loc['2024-08-08'])

# Access a specific cell - we can use .loc
print(df.loc['2024-08-08', 'Close'])

# But it is preferable to use .at for a single cell
print(df.at['2024-08-08', 'Close'])

# Access a range
print(df.loc["2024-08-08":"2024-08-12"])

Close     1.049441e+02
High      1.054740e+02
Low       9.749597e+01
Open      1.019749e+02
Volume    3.919100e+08
Name: 2024-08-08 00:00:00, dtype: float64
104.9441375732422
104.9441375732422
                 Close        High         Low        Open     Volume
Date
2024-08-08  104.944138  105.474006   97.495969  101.974868  391910000
2024-08-09  104.724190  106.573732  103.404515  105.613970  290844200
2024-08-12  108.993141  111.042639  106.233827  106.293809  325559900

## Getting the Index

Oftentimes it is helpful to retrieve the index of the dataframe for a given row or rows. Let's say we wanted to see the dates where Nvidia's `Volume` was less than 150 000 000. After some smart boolean indexing, we can look at the `index` attribute.

In [21]:
dates = df[df["Volume"] < 150_000_000].index
dates

DatetimeIndex(['2024-11-29', '2024-12-24', '2024-12-26'], dtype='datetime64[ns]', name='Date', freq=None)

Because of our conversion to datetime when we first loaded the dataframe, we can pull specific information out of the index.

In [22]:
print(f"Days of the dates {dates.day_name()}")

print(f"Quarter of the dates {dates.to_period("Q")}")

print("Dates for humans:\n", dates.strftime("%d %B %Y").to_list())

Days of the dates Index(['Friday', 'Tuesday', 'Thursday'], dtype='object', name='Date')
Quarter of the dates PeriodIndex(['2024Q4', '2024Q4', '2024Q4'], dtype='period[Q-DEC]', name='Date')
Dates for humans:
 ['29 November 2024', '24 December 2024', '26 December 2024']

## Aggregations

There are many basic operations we can do with pandas, such as calculating the mean of a column, the maximum of a column, and so on. We generally refer to these as *aggregations* since they reduce multiple values to one summary value.

In [23]:
# Calculate the mean of 'Close' prices
print("Mean close", df['Close'].mean())

# Find the maximum volume traded
print("Max volume", df['Volume'].max())

# Find the day that had the max volume traded
print("Max volume day", df['Volume'].idxmax())

# Be careful when using these operations on multiple columns
# We can calculate the mean of the high and low column like so
print("High/low COLUMN average")
print(df[["Low", "High"]].mean())

# Or we can calculate the mean high low of each row
print("High/low ROW average")
print(df[["Low", "High"]].mean(axis=1))

Mean close 107.6940938638026
Max volume 1142269000
Max volume day 2024-03-08 00:00:00
High/low COLUMN average
Low     105.493447
High    109.713949
dtype: float64
High/low ROW average
Date
2024-01-02     48.426814
2024-01-03     47.734070
2024-01-04     47.985981
2024-01-05     48.908128
2024-01-08     50.857898
                 ...
2024-12-23    137.442350
2024-12-24    140.262095
2024-12-26    139.277197
2024-12-27    136.852415
2024-12-30    137.132386
Length: 251, dtype: float64

### Exercise: nVidia Quarters

Did Q3 or Q4 have more trading days where the `Close` price was above the annual average (i.e. above the mean)?

In [24]:
condition = df.Close > df.Close.mean()

condition.index.to_period("Q") == "2024Q3"

condition[mask]

NameError: name 'mask' is not defined

### Exercise: March Madness

Looking only at the month of March, print the following information:

* First opening price of the period
* Last close price of the period
* Total volume traded over the period

In [ ]:
march_data = df.loc["2024-03"]
march_data

march_data.Open.iloc[0]
march_data.Close.iloc[-1]

KeyError: '2024-03'