### DoorDash Investment Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../Group Assignment/DASH_A1.csv")
df

            Date       Close        High         Low        Open     Volume
0     24-02-2022  100.419998  100.919998   85.177002   86.879997  6639000.0
1     01-08-2024  108.199997  112.769997  105.905998  108.620003  7965400.0
2     11-02-2025  193.089996  194.000000  189.500000  190.919998  6771900.0
3     13-04-2021  149.460007  150.360001  143.550003  146.839996  2823500.0
4     17-09-2024  129.880005  131.369995  126.900002  131.350006  2825500.0
...          ...         ...         ...         ...         ...        ...
1179  27-11-2024  178.440002  180.179993  177.699997  179.990005  2031100.0
1180  12-02-2025  200.889999  201.169998  195.197998  198.000000  9989400.0
1181  01-04-2025  182.419998  183.014999  178.259995  182.050003  3740700.0
1182  25-03-2024  137.820007  138.899994  136.740005  137.050003  2162800.0
1183  26-03-2025  192.869995  199.669998  191.460007  199.240005  3848800.0

[1184 rows x 6 columns]

In [3]:
print("Duplicates:", df.duplicated().sum())
print("Missing:", df.isnull().sum().sum())

Duplicates: 50
Missing: 108

In [ ]:
df["Date"] = pd.to_datetime(df.Date)
df = df.sort_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1134 entries, 0 to 1183
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1134 non-null   datetime64[ns]
 1   Close   1111 non-null   float64
 2   High    1110 non-null   float64
 3   Low     1119 non-null   float64
 4   Open    1119 non-null   float64
 5   Volume  1108 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 62.0 KB

/tmp/ipykernel_86496/4053875838.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Date"] = pd.to_datetime(df.Date)

In [5]:
df

           Date       Close        High         Low        Open     Volume
0    2022-02-24  100.419998  100.919998   85.177002   86.879997  6639000.0
1    2024-08-01  108.199997  112.769997  105.905998  108.620003  7965400.0
2    2025-02-11  193.089996  194.000000  189.500000  190.919998  6771900.0
3    2021-04-13  149.460007  150.360001  143.550003  146.839996  2823500.0
4    2024-09-17  129.880005  131.369995  126.900002  131.350006  2825500.0
...         ...         ...         ...         ...         ...        ...
1179 2024-11-27  178.440002  180.179993  177.699997  179.990005  2031100.0
1180 2025-02-12  200.889999  201.169998  195.197998  198.000000  9989400.0
1181 2025-04-01  182.419998  183.014999  178.259995  182.050003  3740700.0
1182 2024-03-25  137.820007  138.899994  136.740005  137.050003  2162800.0
1183 2025-03-26  192.869995  199.669998  191.460007  199.240005  3848800.0

[1134 rows x 6 columns]

In [6]:
print("Duplicates:", df.duplicated().sum())
print("Missing:", df.isnull().sum().sum())

Duplicates: 0
Missing: 103

In [7]:
df[df.isnull().any(axis=1)]

           Date       Close        High         Low        Open     Volume
22   2023-09-28   77.800003   79.739998   76.599998   77.110001        NaN
26   2022-05-02   82.260002   85.370003   78.790001   81.620003        NaN
28   2021-08-02         NaN  179.529999  169.800003  175.350006        NaN
29   2022-03-29  123.550003  125.110001  115.459999         NaN  5660300.0
52   2021-12-02  166.119995         NaN  160.289993  163.509995  3866800.0
...         ...         ...         ...         ...         ...        ...
1080 2023-09-18         NaN   83.879997         NaN   81.349998  3954400.0
1086 2025-01-08  173.720001         NaN  169.860001  171.199997  2189400.0
1138 2024-05-10  114.839996         NaN  114.099998  116.720001  4407000.0
1141 2021-11-04         NaN  209.580002  204.270004  207.250000  1387100.0
1152 2025-05-02  205.089996         NaN  199.429993  200.070007        NaN

[94 rows x 6 columns]

In [8]:
df.sort_index(inplace=True)

df['Open'] = df['Open'].fillna(df['Close'].shift(1))
df

/tmp/ipykernel_86496/2833057423.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Open'] = df['Open'].fillna(df['Close'].shift(1))

           Date       Close        High         Low        Open     Volume
0    2022-02-24  100.419998  100.919998   85.177002   86.879997  6639000.0
1    2024-08-01  108.199997  112.769997  105.905998  108.620003  7965400.0
2    2025-02-11  193.089996  194.000000  189.500000  190.919998  6771900.0
3    2021-04-13  149.460007  150.360001  143.550003  146.839996  2823500.0
4    2024-09-17  129.880005  131.369995  126.900002  131.350006  2825500.0
...         ...         ...         ...         ...         ...        ...
1179 2024-11-27  178.440002  180.179993  177.699997  179.990005  2031100.0
1180 2025-02-12  200.889999  201.169998  195.197998  198.000000  9989400.0
1181 2025-04-01  182.419998  183.014999  178.259995  182.050003  3740700.0
1182 2024-03-25  137.820007  138.899994  136.740005  137.050003  2162800.0
1183 2025-03-26  192.869995  199.669998  191.460007  199.240005  3848800.0

[1134 rows x 6 columns]

In [9]:
df['Close'] = df["Close"].ffill()
df

/tmp/ipykernel_86496/3477458242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Close'] = df["Close"].ffill()

           Date       Close        High         Low        Open     Volume
0    2022-02-24  100.419998  100.919998   85.177002   86.879997  6639000.0
1    2024-08-01  108.199997  112.769997  105.905998  108.620003  7965400.0
2    2025-02-11  193.089996  194.000000  189.500000  190.919998  6771900.0
3    2021-04-13  149.460007  150.360001  143.550003  146.839996  2823500.0
4    2024-09-17  129.880005  131.369995  126.900002  131.350006  2825500.0
...         ...         ...         ...         ...         ...        ...
1179 2024-11-27  178.440002  180.179993  177.699997  179.990005  2031100.0
1180 2025-02-12  200.889999  201.169998  195.197998  198.000000  9989400.0
1181 2025-04-01  182.419998  183.014999  178.259995  182.050003  3740700.0
1182 2024-03-25  137.820007  138.899994  136.740005  137.050003  2162800.0
1183 2025-03-26  192.869995  199.669998  191.460007  199.240005  3848800.0

[1134 rows x 6 columns]

In [10]:
df["High"] = df["High"].interpolate(method="linear")
df["Low"] = df["Low"].interpolate(method="linear")

df

/tmp/ipykernel_86496/2971702252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["High"] = df["High"].interpolate(method="linear")
/tmp/ipykernel_86496/2971702252.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Low"] = df["Low"].interpolate(method="linear")

           Date       Close        High         Low        Open     Volume
0    2022-02-24  100.419998  100.919998   85.177002   86.879997  6639000.0
1    2024-08-01  108.199997  112.769997  105.905998  108.620003  7965400.0
2    2025-02-11  193.089996  194.000000  189.500000  190.919998  6771900.0
3    2021-04-13  149.460007  150.360001  143.550003  146.839996  2823500.0
4    2024-09-17  129.880005  131.369995  126.900002  131.350006  2825500.0
...         ...         ...         ...         ...         ...        ...
1179 2024-11-27  178.440002  180.179993  177.699997  179.990005  2031100.0
1180 2025-02-12  200.889999  201.169998  195.197998  198.000000  9989400.0
1181 2025-04-01  182.419998  183.014999  178.259995  182.050003  3740700.0
1182 2024-03-25  137.820007  138.899994  136.740005  137.050003  2162800.0
1183 2025-03-26  192.869995  199.669998  191.460007  199.240005  3848800.0

[1134 rows x 6 columns]

In [11]:
rows_zero = df.loc[df["Open"].eq(df["Close"])]
rows_zero

          Date       Close   High        Low        Open  Volume
312 2025-01-09  173.720001  71.18  65.834999  173.720001     NaN

In [12]:
zeroVol = df['Volume'].isna() & (df["Open"] == df["Close"])
df.loc [zeroVol, 'Volume'] = 0

df

           Date       Close        High         Low        Open     Volume
0    2022-02-24  100.419998  100.919998   85.177002   86.879997  6639000.0
1    2024-08-01  108.199997  112.769997  105.905998  108.620003  7965400.0
2    2025-02-11  193.089996  194.000000  189.500000  190.919998  6771900.0
3    2021-04-13  149.460007  150.360001  143.550003  146.839996  2823500.0
4    2024-09-17  129.880005  131.369995  126.900002  131.350006  2825500.0
...         ...         ...         ...         ...         ...        ...
1179 2024-11-27  178.440002  180.179993  177.699997  179.990005  2031100.0
1180 2025-02-12  200.889999  201.169998  195.197998  198.000000  9989400.0
1181 2025-04-01  182.419998  183.014999  178.259995  182.050003  3740700.0
1182 2024-03-25  137.820007  138.899994  136.740005  137.050003  2162800.0
1183 2025-03-26  192.869995  199.669998  191.460007  199.240005  3848800.0

[1134 rows x 6 columns]

In [13]:
rows_zero = df.loc[df["Open"].eq(df["Close"])]
rows_zero

          Date       Close   High        Low        Open  Volume
312 2025-01-09  173.720001  71.18  65.834999  173.720001     0.0

In [14]:
median_test = df.loc[df['Volume'].isna() & (df["Open"] != df["Close"])]
median_test

           Date       Close        High         Low        Open  Volume
22   2023-09-28   77.800003   79.739998   76.599998   77.110001     NaN
26   2022-05-02   82.260002   85.370003   78.790001   81.620003     NaN
28   2021-08-02  127.180000  179.529999  169.800003  175.350006     NaN
61   2021-03-01  168.889999  173.789993  164.199997  171.440002     NaN
74   2022-10-24   44.430000   44.959999   41.365002   44.599998     NaN
198  2022-12-12   58.020000   58.060001   55.299999   55.590000     NaN
202  2024-10-02  143.580002  144.354996  141.574997  141.899994     NaN
205  2023-05-01   62.200001   62.875000   60.450001   60.930000     NaN
245  2025-01-22  177.679993  180.000000  177.360001  179.669998     NaN
316  2022-07-25   71.760002  134.900002   70.349998   73.120003     NaN
362  2022-12-23   50.689999   51.230000   49.755001   50.970001     NaN
446  2021-10-08  204.419998  207.990005  204.149994  204.899994     NaN
503  2024-06-06  114.070000  114.422997  110.910004  110.930000     NaN
547  2024-01-19  106.330002  106.559998  103.599998  105.320000     NaN
624  2021-08-25  188.250000  190.119995  184.550003  185.449997     NaN
847  2023-02-06   59.680000  163.880005   58.009998   58.020000     NaN
870  2022-11-23   56.580002   57.090000   53.689999   54.610001     NaN
923  2023-02-21   58.060001   60.860001   57.220001   59.970001     NaN
937  2024-09-06  123.559998  126.410004  122.320000  126.070000     NaN
953  2021-07-09  176.320007  181.649994  176.539993  180.660004     NaN
989  2023-05-16   64.180000   65.809998   63.730000   65.550003     NaN
1006 2023-11-17   95.230003   95.697998   94.260002   95.540001     NaN
1036 2020-12-10  186.000000  187.695007  172.636002  179.710007     NaN
1079 2024-08-07  121.489998  126.370003  121.410004  123.809998     NaN
1152 2025-05-02  205.089996   74.234999  199.429993  200.070007     NaN

In [15]:
median_vol =df["Volume"].median()
median_test = df['Volume'].isna() & (df["Open"] != df["Close"])

df.loc[median_test,"Volume"] = median_vol

#Test
print(df.Volume, '2020-12-20')

0       6639000.0
1       7965400.0
2       6771900.0
3       2823500.0
4       2825500.0
          ...
1179    2031100.0
1180    9989400.0
1181    3740700.0
1182    2162800.0
1183    3848800.0
Name: Volume, Length: 1134, dtype: float64 2020-12-20

In [16]:
median_test

0       False
1       False
2       False
3       False
4       False
        ...
1179    False
1180    False
1181    False
1182    False
1183    False
Length: 1134, dtype: bool

In [17]:
df.isnull().sum()

Date      0
Close     0
High      0
Low       0
Open      1
Volume    0
dtype: int64

In [18]:
df

           Date       Close        High         Low        Open     Volume
0    2022-02-24  100.419998  100.919998   85.177002   86.879997  6639000.0
1    2024-08-01  108.199997  112.769997  105.905998  108.620003  7965400.0
2    2025-02-11  193.089996  194.000000  189.500000  190.919998  6771900.0
3    2021-04-13  149.460007  150.360001  143.550003  146.839996  2823500.0
4    2024-09-17  129.880005  131.369995  126.900002  131.350006  2825500.0
...         ...         ...         ...         ...         ...        ...
1179 2024-11-27  178.440002  180.179993  177.699997  179.990005  2031100.0
1180 2025-02-12  200.889999  201.169998  195.197998  198.000000  9989400.0
1181 2025-04-01  182.419998  183.014999  178.259995  182.050003  3740700.0
1182 2024-03-25  137.820007  138.899994  136.740005  137.050003  2162800.0
1183 2025-03-26  192.869995  199.669998  191.460007  199.240005  3848800.0

[1134 rows x 6 columns]

## Feature Engineering

In [19]:
df["Returns"] = df.Close.pct_change()
df.Returns

/tmp/ipykernel_86496/4271115537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Returns"] = df.Close.pct_change()

0            NaN
1       0.077475
2       0.784566
3      -0.225957
4      -0.131005
          ...
1179    1.770377
1180    0.125813
1181   -0.091941
1182   -0.244491
1183    0.399434
Name: Returns, Length: 1134, dtype: float64

In [20]:
df["LastClose"] = df.Close.shift()
df["LogReturns"] = np.log(df.Close/df.LastClose)

df["LogReturns"]

/tmp/ipykernel_86496/4159791528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["LastClose"] = df.Close.shift()
/tmp/ipykernel_86496/4159791528.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["LogReturns"] = np.log(df.Close/df.LastClose)

0            NaN
1       0.074620
2       0.579175
3      -0.256128
4      -0.140418
          ...
1179    1.018983
1180    0.118505
1181   -0.096446
1182   -0.280363
1183    0.336068
Name: LogReturns, Length: 1134, dtype: float64

In [21]:
df['Momentum_20'] = df['Close'] - df['Close'].shift(20)
df["Momentum_20"]

/tmp/ipykernel_86496/2393938107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Momentum_20'] = df['Close'] - df['Close'].shift(20)

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
1179     93.040001
1180     83.659996
1181     -8.979996
1182      9.340012
1183    113.679993
Name: Momentum_20, Length: 1134, dtype: float64

In [22]:
# Fast MA suppose to pick up few latest days, sensitive to change in ST. rolling function with no of days (Period)
df["FastMA"] = df.Close.rolling(20).mean()
df["FastMA"]

/tmp/ipykernel_86496/4193543109.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["FastMA"] = df.Close.rolling(20).mean()

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
1179    132.816999
1180    136.999999
1181    136.550999
1182    137.018000
1183    142.701999
Name: FastMA, Length: 1134, dtype: float64

In [23]:
df["Vol"] = df.Returns.rolling(20).std()
df.Vol

/tmp/ipykernel_86496/3195946985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Vol"] = df.Returns.rolling(20).std()

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
1179    0.687750
1180    0.686776
1181    0.681374
1182    0.678478
1183    0.667994
Name: Vol, Length: 1134, dtype: float64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1134 entries, 0 to 1183
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1134 non-null   datetime64[ns]
 1   Close        1134 non-null   float64
 2   High         1134 non-null   float64
 3   Low          1134 non-null   float64
 4   Open         1133 non-null   float64
 5   Volume       1134 non-null   float64
 6   Returns      1133 non-null   float64
 7   LastClose    1133 non-null   float64
 8   LogReturns   1133 non-null   float64
 9   Momentum_20  1114 non-null   float64
 10  FastMA       1115 non-null   float64
 11  Vol          1114 non-null   float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 115.2 KB